body{
    background: url("https://c4.wallpaperflare.com/wallpaper/108/140/869/digital-digital-art-artwork-fantasy-art-drawing-hd-wallpaper-preview.jpg")no-repeat;
    background-size: 90rem;
    background-color: black;
    font-family: Consolas;
    color: white;
}

.titre{
    text-align: center;
}

section#contact{
    padding: 50px 0px;
    color: white;
}

section#contact .container{
    max-width: 80rem;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10px;
    border-radius: 35px;
    box-shadow: 0px 10px 50px -10px white;
}
section#contact .container .titre{
    text-align: center;
    margin-bottom: 35px;
}

section#contact .container .titre h1{
    font-size: 2em;
}

section#contact .container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90rem;
}

section#contact .container form input{
    width: 80%;
    margin: 20px 0;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 4px solid blue;
}


.topnav {
    background-image: url("https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547__480.jpg");
    overflow: hidden;
}
.topnav i{
    float: right;
}
.topnav a {
    color: #f2f2f2;
    float: right;
    display: block;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: black;
    color: cyan;
    float: right;
}

.topnav .icon {
    display: none;
}

footer{
    text-align: center;
}

.liens{
    float: right;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}